.preload {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 999;
  background-color: black;
}

.preload-layer-first {
  background-color: indigo;
  width: 100%;
  height: 100%;
  position: absolute;
  animation-name: slide;
  animation-duration: 1s;
  /* animation-iteration-count: infinite; */
  animation-timing-function: linear;
} 

.preload-layer-text {
  color: white;
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 50px;
}

@keyframes slide {
  from {
    left: -500%;
  }
  to {
    left: 0px;
  }
}